*

# Push
!*.py
!*.png
!*.csv
!*.md
!*.txt
!*.sh

# Don't push
build
dist
*.egg-info
platform.info
__pycache__
*/wandb/*
loop_tool_service/benchmarks/loop_tool_dataset/big
loop_tool_service/models/rllib/my_artifacts
*.pkl
results/*/checkpoint_*
loop_tool_service/models/rllib/results
tmp.png
weights
*submitit_logs*
*wandb*
wandb_key.txt
core
pids.txt