geneticalgorithm>=1.0.2
keras==2.6.0
matplotlib>=3.3.4
# nevergrad>=0.4.3 # PkgResourcesDeprecationWarning: learn-0.9 is an invalid version and will not be supported in a future release
pandas>=1.1.5
submitit>=1.2.0
torch>=1.6.0
typer[all]>=0.3.2
#compiler_gym==0.2.3.